{% extends "base.html" %}

{% block title %} History / Fuel {% endblock %}

{% block content %}
    <!-- Fuel Quote History -->
    <div class="container py-3">
      <h1 class="mb-3">Fuel Quote History</h1>
      <table>
         <tr>
            <th>Quote #></th>
	    <th>Gallons Requested></th>
            <th>Delivery Address></th>
            <th>Delivery Date></th>
            <th>Suggested Price / gallon></th>
            <th>Total Amount Due></th>
         </tr>
         <tr>
            <td>TBD</td>
            <td>TBD</td>
            <td>TBD</td>
            <td>TBD</td>
            <td>TBD</td>
            <td>TBD</td>
         </tr>
    </table>
    </div>
{% endblock %}