{% extends "base.html" %}

{% block title %} History / Fuel {% endblock %}

{% block content %}
    <!-- Fuel Quote History -->
    <div class="container py-3">
      <h1 class="mb-3">Fuel Quote History</h1>
      <table>
         <tr>
            <th>Quote #></th>
	         <th>Gallons Requested></th>
            <th>Delivery Address></th>
            <th>Delivery Date></th>
            <th>Suggested Price / gallon></th>
            <th>Total Amount Due></th>
         </tr>
         {% if fuel_quote %}
         {% for f in fuel_quote %}
         <tr>
            <td>{{ f.quote_number }}</td>
            <td>{{ f.gallons_requested }}</td>
            <td>{{ f.delivery_address }}</td>
            <td>{{ f.delivery_date }}</td>
            <td>{{ f.suggested_price_gallon }}</td>
            <td>{{ f.total_amount_due }}</td>
         </tr>
         {% endfor %}
         {% endif %}
    </table>
    </div>
{% endblock %}