{% extends "base.html" %}

{% block title %} Login / Fuel {% endblock %}

{% block content %}
    <!-- Login form -->
    <form class="container mt-5 text-center" id="login-form">
      <h1 class="h3 mb-4 font-weight-normal"> Client login </h1>
      <div class="form-group">
        <input type="text" class="form-control" maxlength="20" id="input-username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="input-password" placeholder="Password" required>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="check-remember">
        <label class="form-check-label" for="exampleCheck1">Remember me</label>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
{% endblock %}